### Node template
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# migrated databases
db

# pre~compiled files
public

# Created by .ignore support plugin (hsz.mobi)
.idea
.DS_Store
